.social ul li .icon-facebook{background:#3b5998 ;}
.social ul li .icon-youtube{background:#cd201f  ;}
.social ul li .icon-twitter{background:#00abf0;}
.social ul li .icon-instagram{background:#fff;}

.social ul li a:hover{padding: 20px 40px;
background:black;}

.social{position: fixed;
left:0;
top:200px;
    z-index: 2000;
}

.social ul{
    list-style: none;
    
}

.social ul li a{display: inline-block;
    color:#fff;
    background:black;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease ;
    -o-transition:all 500ms ease ;
    transition:all 500ms ease ;
    
}
